<%- include("../partials/portal-header") %>

<section class="blogs-section">
  <h2>Blogs</h2>
  <a href="/blogs/new" class="new-blog">Create New Blog</a>

  <ul class="blogs-list">
    <% blogs.forEach(function(blog){ %>
    <li class="blog-item">
      <a href="/blogs/<%= blog._id %>" class="blog-link"><%= blog.title %></a>
      <p class="blog-description"><%= blog.description %></p>
    </li>
    <% }) %>
  </ul>
</section>

<%- include("../partials/portal-footer") %>
