<%- include("../partials/header") %>

<section class="blog-post">
  <h2 class="blog-title"><%= blog.title %></h2>
  <p class="blog-author">By <%= blog.author %></p>
  <p class="blog-content"><%= blog.content %></p>
  <p class="blog-date">Posted on <%= blog.created_at.toDateString() %></p>
</section>

<%- include("../partials/footer") %>
