<%- include('../partials/portal-header') %>

<section class="feature-section">
  <h2 class="event-details-title"><%= event.title %></h2>
  <p class="event-description"><%= event.description %></p>
  <p class="event-info">Date: <%= event.date ? event.date.toDateString() : 'No date available' %></p>
  <p class="event-info">Location: <%= event.location %></p>
</section>

<%- include('../partials/portal-footer') %>
